<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create Account</title>
    </head>
    <body>
        <h1>Create Account</h1>
        <form th:action="@{/signup}" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="role">Who are you?</label>
            <select name="role" id="role" required>
                <option value="ROLE_USER">Listener</option>
                <option value="ROLE_ARTIST">Artist</option>
            </select>
            <br>
            <button type="submit">Create Account</button>
        </form>
    </body>
</html>